@page "/description"
@inject HttpClient Http
@*@inject IAccessTokenProvider TokenProvider*@
@inject IConfiguration Configuration
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@*@using Microsoft.AspNetCore.Components.WebAssembly.Authentication*@

<PageTitle>Project description</PageTitle>

<h1>Project description</h1>

<p>
    This application was deployed to be used as an example of a cloud application modernization.<br />
    Some of the design choises in the initial version are deliberately sub optimal for a modern cloud application.
</p>
<p>
    Practice the following goals:
    <ul>
        <li>
            Deploy the application on different compute options. What are the they on Azure that could be used for the application hosting?
        </li>
        <li>
            What are the different identity options that are supported by Entra ID? What is the impact if you use single tennant vs multitenant application?
        </li>
        <li>
            Switch from B2B to B2C. How this chnage impacted the application, the chained services? 
        </li>
        <li>
            Write a Terraform / OpenTofu infrastructure definition that will deploy all the infrastructure comonents
        </li>
        <li>
            Automate the deployment if the applciation using Azure DevOps, Github, Gitlab?
        </li>
    </ul>
</p>



@code {
}