<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Randomness</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchtoss">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch toss data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchpoints">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch clustering data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binary-search">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Binary search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deck-cards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="domino">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Domino
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="socks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Socks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="secret-code">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Secret code
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
